---
import AboutMe from '../components/AboutMe.astro';
import TopBar from '../components/TopBar.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <TopBar />
  <Projects />
  <AboutMe/>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque commodi repellat error corrupti iste, molestias recusandae minus officia molestiae ex ad non asperiores in mollitia explicabo sequi deserunt ratione!</p>
</Layout>
