---
import AboutMe from '../components/AboutMe.astro';
import TopBar from '../components/TopBar.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
import ContactMe from '../components/ContactMe.astro';
import CustomCursor from '../components/CustomCursor.astro';
---

<Layout>
  <CustomCursor/>
  <TopBar />
  <main class="container">
    <Projects />
    <AboutMe/>
    <ContactMe/>
  </main>
</Layout>
