---

---

<section id="about">
  <div>
    <h3>ABOUT ME</h3>
    <p>
      Upon starting in the world of programming through <strong
        >JavaScript</strong
      >, I became interested in learning everything related to this programming
      language to maximize its potential in web development. I greatly enjoy
      working with technologies "by hand," although I have knowledge in using
      style libraries like <strong>Bootstrap</strong>. My initial goal was to
      learn everything necessary in <strong>JavaScript</strong> to build a strong
      foundation for its application in <strong>React Js</strong>.
    </p>

    <p>
      After a couple of years, I learned <strong>Vue</strong>, a framework I currently use
      for development most of the time. Additionally, I acquired knowledge in
      the <strong>backend</strong> using a <strong>Node-based framework</strong> called <strong>Adonis Js</strong>,
      which /appears to have similarities with <strong>Laravel</strong>, using <strong>Mongodb</strong> as
      the database engine.
    </p>

    <p>I also possess some knowledge of <strong>C#</strong>, which allows me to develop console applications using the language.</p>
  </div>
</section>
