---

---

<section class="footer">
    
</section>

<style>

    .footer {
        background: var(--color-primary);
        color: var(--text-body);
        padding: 2rem;
        text-align: center;
        height: 10dvh;
    }

</style>