---
import { projectsData } from '../helpers/projects-data';
import ProjectCard from './ProjectCard.astro';
---

<section id="projects">
  <div>
    <h3>PROJECTS</h3>
    {
      projectsData.map(({ title, description, stack,preview }) => {
        return (
          <ProjectCard title={title} description={description} stack={stack} preview={preview} />
        );
      })
    }
  </div>
</section>
