<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>ADONIS MENDOZA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles/main.css" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    height: 100%;

    overflow-x: hidden;
    max-width: 100vw;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background);
    border-left: 1px solid rgba(0, 166, 251, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      var(--color-primary-darker) 0%,
      var(--color-primary-dark) 100%
    );
    border-radius: 10px;
    border: 2px solid var(--color-background);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      var(--color-primary-dark) 0%,
      var(--color-primary) 100%
    );
  }

  ::-webkit-scrollbar-thumb:active {
    background: var(--color-primary);
  }

  /* Scrollbar para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-dark) var(--color-background);
  }
</style>
